body {
-webkit-touch-callout: none;                
-webkit-text-size-adjust: none;            
-webkit-user-select: none;                  
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening { display:block; }
.event.received { display:none; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
animation:fade 3000ms infinite;
-webkit-animation:fade 3000ms infinite;
}


#titulo {
padding: 2.5px;
margin:2.5px;
font-size: 27px;
color: #ebf742; 
font-family: sans-serif;
}

#titulo-filtro,  #titulo-filtrado {
font-size: 18px;
color:white;
font-family: sans-serif;
}

hr { width: 100%; border: 1.5px solid black; margin:0px; padding:0px; }

#panel { display: inline-flex; width: 100%; }

#panel #clear { 
background:url(../img/clear.png);   
background-size: 100% 100%;
background-repeat: no-repeat; 
height: 65px;
width: 60px;
margin-top: 27px;
font-size: 17px;
font-weight: bold;
}

#search {
font-size: 20px;
padding: 17px;
border-radius: 5px;
border: 1px solid grey;
opacity: 0.5;
filter: alpha(opacity=50);
background-color: black;
width: 100%;
text-transform: lowercase;
color:white;
margin-top: 25px;
}

input , button { outline: 0; }

#texto {
font-size: 19px;
padding:10px;
color:white;
font-family: sans-serif;
}

#filtrar , #cancelar {
float: left;
margin-top: 25px;
margin-left:-15px;
width: 100px;
font-size: 20px;
clear: both;
margin-bottom: 25px;
}

#quiz {
margin-right:-8.4px;
margin-top: 25px;
float: right;
font-size: 20px;
width: 100px;
}

button { 
background:url(../img/back-button.png);
background-size: 100% 100%;
background-repeat: no-repeat; 
border: 0px; 
color:black;
padding: 12px;
}

#btn-conteudo {
width: 100%;
font-size: 24px;
font-style: italic;    
}

#btn-conteudo-cancel {
border-radius: 4px;
padding: 10px;
width: 70%;
font-size: 20px;
margin-top: 25px;
}

#painel-filtrar { margin-top: 75px; }
#btns-conteudo { text-align: center; }
.header { text-align: center; }

#btn-cancel-filtro { 
border-radius: 10px;
padding: 10px;
float: left;
margin-top: 25px;
margin-left:-15px;
width: 150px;
font-size: 20px;
clear: both;
}


table, tr , td {
width:100%;
margin:0px;
padding: 0px;
}

#pergunta {
text-align: center;
font-family: sans-serif;
color: white;
font-size: 21px;
margin-top: 20px;
margin-bottom: 0px;
}

#simulado1 , #simulado2 , #simulado3 { margin-top: 50px; width: 100%; }

#erro { font-size: 20px; font-family: sans-serif;  color: black; }
#acerto { font-size: 20px; font-family: sans-serif;  color: black; }
#jogo { font-size: 20px; font-family: sans-serif;  color: black; }

#scores { margin-top: 25px; }
#score-jogo { opacity: 0.5; filter: alpha(opacity=50); background-color: yellow; width: 102.4%; padding: 5px; margin-left: -10px; }
#score-acerto { opacity: 0.5; filter: alpha(opacity=50); background-color: green; width: 102.4%; padding: 5px; margin-left: -10px; }
#score-erro { opacity: 0.5; filter: alpha(opacity=50); background-color: red; width: 102.4%; padding: 5px; margin-left: -10px; }


