/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
}

/* Portrait layout (default) */
.app {
   /* background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
   /* background-color:#333333; */
    display:block;
}

.event.received {
   /* background-color:#4B946A; */
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


#titulo {

    padding: 2.5px;
    margin:2.5px;
    font-size: 27px;
    color: #ebf742; 
    font-family: sans-serif;

}

#titulo-filtro,  #titulo-filtrado {

font-size: 18px;
color:white;
font-family: sans-serif;

}

hr { width: 100%; border: 1.5px solid black; margin:0px; padding:0px; }

#search {
font-size: 20px;
padding: 17px;
border-radius: 5px;
border: 1px solid grey;
opacity: 0.5;
filter: alpha(opacity=50);
background-color: black;
width: 98%;
text-transform: lowercase;
color:white;
margin-top: 25px;
}

input , button {
    outline: 0;
}

#zoom {

border-radius: 5px;
border: 1px solid grey;
font-size: 25px;
padding: 10px;
float: right;
margin-right: 15px;

}

#texto {

font-size: 18px;
padding:10px;
color:white;
font-family: sans-serif;

}

#filtrar , #cancelar {

float: left;
margin-top: 25px;
margin-left:-15px;
width: 100px;
font-size: 20px;
clear: both;
margin-bottom: 25px;

}

#quiz {
margin-right:-8.4px;
margin-top: 25px;
float: right;
font-size: 20px;
width: 100px;

}

button { 
background:url(../img/back-button.png);
background-size: 100% 100%;
background-repeat: no-repeat; 
border: 0px; 
color:black;
padding: 12px;
}

#btn-conteudo {
width: 100%;
font-size: 24px;
font-style: italic;
    
}

#btn-conteudo-cancel {

border-radius: 4px;
padding: 10px;
width: 70%;
font-size: 20px;
margin-top: 25px;
    
}

#painel-filtrar { margin-top: 75px; }

#btns-conteudo { text-align: center; }

.header { text-align: center; }

#btn-cancel-filtro { 
border-radius: 10px;
padding: 10px;
float: left;
margin-top: 25px;
margin-left:-15px;
width: 150px;
font-size: 20px;
clear: both;

}


table, tr , td {

width:100%;
margin:0px;
padding: 0px;

}

#pergunta {

text-align: center;
font-family: sans-serif;
color: white;
font-size: 21px;
margin-top: 20px;
margin-bottom: 0px;
}

#simulado1 , #simulado2 , #simulado3 { margin-top: 50px; width: 100%; }

#erro { font-size: 20px; font-family: sans-serif;  color: black; }
#acerto { font-size: 20px; font-family: sans-serif;  color: black; }
#jogo { font-size: 20px; font-family: sans-serif;  color: black; }

#scores { margin-top: 25px; }
#score-jogo { opacity: 0.5; filter: alpha(opacity=50); background-color: yellow; width: 102.4%; padding: 5px; margin-left: -10px; }
#score-acerto { opacity: 0.5; filter: alpha(opacity=50); background-color: green; width: 102.4%; padding: 5px; margin-left: -10px; }
#score-erro { opacity: 0.5; filter: alpha(opacity=50); background-color: red; width: 102.4%; padding: 5px; margin-left: -10px; }


